%h1 User profile
.container{style: 'background-color: white'}
  %h4
    First name:
    = current_user.first_name
  %h4
    Last name:
    = current_user.last_name
  %h4
    Email:
    = current_user.email
  .row
    .col-md-4
      %h4 Incoming tournaments:
      - current_user.participations.each do |p|
        .panel.panel-default
          .pull-right
            = link_to tournament_path(p.tournament, tab: 'info') do
              %span.glyphicon.glyphicon-chevron-right
          Name:
          = p.tournament.name
          %br
          Deadline:
          = p.tournament.deadline
          %br
          Owner:
          = p.tournament.user.first_name
          = p.tournament.user.last_name

    .col-md-4
      %h4 Incoming duels:
      - current_user.duels.each do |d|
        .panel.panel-default
          = d.user_one.first_name
          = d.user_one.last_name
          %br
          vs
          %br
          = d.user_two.first_name
          = d.user_two.last_name
      - current_user.duels_two.each do |d|
        .panel.panel-default
          = d.user_one.first_name
          = d.user_one.last_name
          %br
          vs
          %br
          = d.user_two.first_name
          = d.user_two.last_name

    .col-md-4
      %h4 Created tournaments:
      - current_user.tournaments.each do |t|
        .panel.panel-default
          .pull-right
            = link_to tournament_path(t, tab: 'info') do
              %span.glyphicon.glyphicon-chevron-right
          Name:
          = t.name
          %br
          Deadline:
          = t.deadline
          %br
          Part:
          = t.participation_number
          %span /
          = t.participation_limit
