.container
  %h1 New tournament
  .row
    .col-xs-7
      = form_for(@tournament, validate: true) do |t|
        .form-group
          = t.label :name, class: "control-label"
          = t.text_field :name, class: "form-control"

          = t.label :deadline, class: "control-label"
          = fa_icon 'calendar'
          = t.date_field :deadline, class: "form-control show_calendar", order: [:day, :month, :year], date_separator: "/"
          .row
            .col-xs-6
              = t.label :street, class: "control-label"
              = t.text_field  :street, class: "form-control"
            .col-xs-6
              = t.label :city, class: "control-label"
              = t.text_field  :city, class: "form-control"
          = t.label :participation_limit, class: "control-label"
          = t.text_field  :participation_limit, class: "form-control"
        .form-group
          = t.button :submit, class: 'btn btn-default'
    .col-xs-4
      = image_tag "/assets/serveimage.png"
