
%p{style: 'margin-top: 1%'}
  Deadline:
  = @tournament.deadline
  %br
  Street:
  = @tournament.street
  %br
  City:
  = @tournament.city
  %br
  Organizator:
  = @tournament.user.email
  %br
  Participating users:
  %br
  -@tournament.participations.each do |p|
    = p.user.email
    %br
