.panel.panel-default
  .panel-heading
    = tournament.name.upcase
    .pull-right{style: 'font-size: 20px;'}
      = link_to tournament_path(tournament, tab: 'info') do
        = fa_icon 'info-circle'
        More
  .panel-body
    Deadline:
    = tournament.deadline
    %br
    Street:
    = tournament.street
    %br
    City:
    = tournament.city
    %br
    Participations:
    = tournament.participation_number
    out of
    = tournament.participation_limit
    .pull-right
      - unless tournament.check_participation_limit || tournament.deadline < Date.today
        = link_to 'Participate', participations_path(user_id: current_user.id, tournament_id: tournament.id), method: :post,remote: true, class: 'btn btn-success participate'
      - else
        = link_to 'Participate', participations_path(user_id: current_user.id, tournament_id: tournament.id), method: :post, disabled: true, class: 'btn btn-success'
      - unless tournament.check_if_participate(current_user.id)
        = link_to 'Leave', participation_path(tournament.participations.where(user_id: current_user.id).first.id), method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure?"}
